

<include file="Public:headerBefore"/>

<!--content-->
<div class="bodyColor content">
    <div class="w1100 bgColor m0a mt30 contentHegiht">
        <div class="backHeader">
            <a href="#" class="inlineBlock fl hFontColors">找回密码</a>&nbsp;
            <a href="{:U('Login/index')}" class="inlineBlock fr hFontColors">已有账号？ <span class="commonColor">立即登录</span></a>
        </div>

        <div class="backBody">
            <div class="bodyProgress backBodyWidth m0a mt42 mb74">
                <div class="layui-progress">
                    <div class="layui-progress-bar layui-bg-blue" lay-percent="100%"></div>
                    <img src="__MEMBER__/images/one_sel.png" alt="" class="imgIconOne inlineBlock">
                    <span class="progessText fonts16 TextActive">验证方式</span>
                    <img src="__MEMBER__/images/two_sel.png" class="imgIconTwo inlineBlock">
                    <span class="progessTextTwo fonts16 ">重置密码</span>
                    <img src="__MEMBER__/images/dui_sel.png"  class="imgIconDui inlineBlock">
                    <span class="progessTextDui fonts16 ">重置成功</span>
                </div>
            </div>

            <div class="panel-body backBodyWidth m0a borderNone">
                <img src="__MEMBER__/images/right.png" alt="" class="m0a mt120">
                 <p class="panelBodyText">您已设置密码成功</p>
                 <p class="HtextMsg">1,您的密码已设置成功，使用新密码，<a href="{:U('Login/index')}" class="LinkA">重新登录>></a></p>
                 <p class="HtextMsg">2,如您不能正常登录，请及时联系在线客服解决。</p>
            </div>

        </div>
    </div>
</div>

<!--footer-->
<include file="Public:footer"/>

<script>
    // 插件validator.js
    $('form').validator({
        theme: "simple_right", //消息皮肤
        msgClass: "n-bottom"   //消息将自动显示在输入框右边
    });
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element();
    });
</script>
