
<include file="Public:headerAfter"/>

<!--myPassword-->
<section class="myCom myPassword" id="myPassword">
    <div class="in w1100 m0a">
        <!--左侧共用菜单-->
        <include file="Public:leftMenu"/>
        <div class="myRight fr">
            <div class="rHd">
                <div class="hdTit">
                    <a href="javascript:;">个人中心</a>
                    <i></i>
                    <a href="javascript:;">修改密码</a>
                </div>
            </div>
            <div class="com basicInf passWord">
                <div class="inpCom">
                    <form action="" method="post" name="myForm" autocomplete="off" data-validator-option="{stopOnError:true}">
                        <ul>
                            <li>
                                <div class="inp">
                                    <span class="ti">当前密码：</span>
                                    <input type="password" id="oldPwd" placeholder="请输入原密码" maxlength="16" name="old_pwd" data-rule="原密码: required;">
                                    <p class="tip"></p>
                                </div>
                            </li>
                            <li>
                                <div class="inp">
                                    <span class="ti">新密码：</span>
                                    <input type="password" id="newPwd" placeholder="请输入登录密码，6-16个字符" maxlength="16" name="pwd" data-rule="密码: required;password;length(6~16);">
                                    <p class="tip2"></p>
                                </div>
                            </li>
                            <li>
                                <div class="inp">
                                    <span class="ti">确认密码：</span>
                                    <input type="password" id="newPwds" placeholder="请再次输入登录密码" maxlength="16" name="confirm_pwd" data-rule="确认密码: match(pwd);">
                                    <p class="tip3"></p>
                                </div>
                            </li>
                        </ul>
                        <p style="text-align: left;">忘记密码？<a href="{:U('Login/passwordWay')}" style="color: orangered;">点击这里找回</a></p>
                        <div class="myBtn keepBtn">
                            <button type="submit" class="bbtn" id="subBtn4">保存修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<include file="Public:footer"/>
<script>
    var formActionUrl = "{:U('Safe/password')}";
    var successUrl    = "{:U('Safe/securityList')}";
    //提交表单
    $('form[name="myForm"]').bind('valid.form', function(){
        $.ajax({
            url: formActionUrl,
            type: 'POST',
            data: $(this).serialize(),
            success: function(data){
                if(data.status==0){
                    show_msg(data.msg,'error');
                    return false;
                }
                else if(data.status==1){
                    show_msg(data.msg,'info');
                    setTimeout(function(){
                        location.href = successUrl;
                    },1200);
                }
            },
            error:function(data){
                show_msg('网络繁忙请稍后重试','error');
            }
        });
    });
    //nice表单验证-提示语样式
    $('form').validator({
        theme: "yellow_right_effect", //消息皮肤
        msgStyle: "margin-left:3px; margin-top:5px;" ,//消息自定义样式
        msgClass: "n-right"   //消息将自动显示在输入框右边
    });
</script>