<ul class="layui-tab-title layui-tab-title-new">
    <!--<a href="{:U('Study/myCourse')}">   <li class="{:ACTION_NAME=='myCourse'?'layui-this learnAcitve':''}">我的课程</li></a>-->
    <li class="{:ACTION_NAME=='newQuestion'?'layui-this learnAcitve':''}"><a href="{:U('Study/newQuestion')}">最新问答</a><i></i></li>
    <li class="{:ACTION_NAME=='myNote'?'layui-this learnAcitve':''}"><a href="{:U('Study/myNote')}"> 我的笔记</a></a><i></i></li>
    <li class="{:ACTION_NAME=='myQuestion'?'layui-this learnAcitve':''}"><a href="{:U('Study/myQuestion')}"> 我的提问</a><i></i></li>
    <li class="{:ACTION_NAME=='faqQuestion'?'layui-this learnAcitve':''}"><a href="{:U('Study/faqQuestion')}">问答收藏</a><i></i></li>
    <li class="{:ACTION_NAME=='faqCourse'?'layui-this learnAcitve':''}"><a href="{:U('Study/faqCourse')}"> 课程收藏</a><i></i></li>
</ul>