
<include file="Public:headerAfter"/>
<!-- iCheck-->
<link rel="stylesheet" href="__ADMIN__/plugins/iCheck/flat/blue.css">
<link rel="stylesheet" href="__ADMIN__/plugins/iCheck/all.css">

<!--myInfor-->
<section class="myCom myInfor" id="myInfor">
    <div class="in w1100 m0a">
        <!--左侧共用菜单-->
        <include file="Public:leftMenu"/>
        <div class="myRight fr">
            <div class="rHd">
                <div class="hdTit">
                    <a href="javascript:;">个人中心</a>
                    <i></i>
                    <a href="javascript:;">消息中心</a>
                </div>
            </div>
            <div class="com infor">
                <div class="inforCom" >
                    <div class="tab">
                        <ol>
                            <li {$is_read==2?'class="cur"':''}><a href="{:U(myNews,array('read'=>2))}"><span>全部</span></a></li>
                            <li {$is_read==0?'class="cur"':''}><a href="{:U(myNews,array('read'=>0))}"><span>未读</span></a></li>
                            <li {$is_read==1?'class="cur"':''}><a href="{:U(myNews,array('read'=>1))}"><span>已读</span></a></li>
                        </ol>
                        <div class="dt">
                            <span class="ti01">标题</span>
                            <span class="ti02">内容</span>
                            <span class="ti03">时间</span>
                            <span class="ti04"></span>
                        </div>
                        <ul class="data-back-checkbox">
                            <li>
                                <if condition="$data">
                                    <form action="" method="post" name="myForm">
                                        <volist name="data" id="v" key="k" >
                                            <div class="item {$v['is_read']==1?'itemNo':'itemYes'}">
                                                <div class="ti01 mm">
                                                    <img src="__MEMBER__/images/{$v['is_read']==1?'xin02':'xin01'}.png">
                                                    <span class="msg_title">{$v['title']}</span>
                                                </div>
                                                <div class="ti02 mm">
                                                    <a href="javascript:;" onclick="show_news(this,{$v['id']});" class="msg_content">{:htmlspecialchars_decode($v['content'])}</a>
                                                </div>
                                                <div class="ti03 mm">
                                                    <span>	{:date('Y/m/d H:i',$v['addtime'])}</span>
                                                </div>
                                                <div class="ti04 mm">
                                                    <!-- <i class="che js-che"></i> -->
                                                    <input type="checkbox" data-toggle="icheck" name="msg_id[]" value="{$v['id']}">
                                                </div>
                                            </div>
                                        </volist>
                                    </form>
                                <else/>
                                    <p style="text-align: center;line-height: 50px;"><em>没有更多消息啦~</em></p>
                                </if>
                            </li>

                        </ul>
                        <if condition="$data">
                            <div class="bot">
                                <!--分页-->
                                <div id="trunPage" class="fl" style=" margin-left: 15px;margin-top: 5px;"></div>
                                <div class="botIn fr">
                                    <div class="sel">
                                        <!-- <i class="allChe" id="allChe"></i> -->
                                        <label><input type="checkbox" class="data-back-true" value="0" ><span style="margin-left:5px; display:inline-block;">全选</span></label>
                                    </div>
                                    <button type="button" class="delBtn" id="allDel">删除</button>
                                </div>
                            </div>
                            <div class="clean_float"></div>
                        </if>
                        <if condition="$countPage GT 1">
                            <div class="pages">{$page}</div>
                        </if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--footer-->
<include file="Public:footer"/>
<!--弹窗js 参考文档 http://layer.layui.com/-->
<script src="__ADMIN__/layer/layer.js"></script>
<!-- icheck -->
<script src="__ADMIN__/plugins/iCheck/icheck.js"></script>
<script>
    var formActionUrl = "{:U('User/myNews')}";
    //显示消息内容
    function show_news(obj,id){
        $.post(formActionUrl,{'msg_id':id,'is_read':1},function(data){
            if(data.status==1){
                layer.alert($(obj).html(), {
                    title:$('.msg_title').html(),
                    shade:0.5,
                    shadeClose:1,
                    skin :'layui-layer-molv',
                    closeBtn: 1,
                });
                $('.layui-layer-btn0').remove();
            }
        },'json');
    }


    //===========用户删除消息====================
    $('.delBtn').on('click',function(){
        //询问框
        var index = layer.confirm('确定要删除吗？', {
            shade:0.6,
            icon:2,
            //skin: 'layui-layer-lan', //样式类名
            btn: ['确定','取消']       //按钮
        }, function(){
            layer.close(index);
            deleteNews();
        }, function(){
            layer.close(index);
        });
    });
    //执行删除操作
    function deleteNews(){
        $.ajax({
            url: formActionUrl,
            type: 'POST',
            data: $('form[name="myForm"]').serialize(),
            success: function(data){
                if(data.status==0){
                    show_msg(data.msg,'error');
                    return false;
                }
                else if(data.status==1){
                    show_msg(data.msg);
                    setTimeout(function(){
                        location.reload();
                    },1200);
                }
            },
            error: function(data){
                show_msg('网络繁忙~请稍后重试~','error');
            }
        });
    }
    //===========用户删除消息====================

    //初始化icheck插件
    $(document).ready(function(){
      $('input[value]').iCheck({
        checkboxClass: 'icheckbox_square-orange',
        radioClass: 'iradio_square-blue',
        increaseArea: '0%' 
      });
    });

    //checkbox全选勾选判断
    $('.data-back-true').on('ifChecked', function(){
      if ($(this).is(':checked')) {
          $(".data-back-checkbox input[type=checkbox]").each(function(){
            $(this).iCheck('check');
          });
      }
    });
    $('.data-back-true').on('ifUnchecked', function(){
        $(".data-back-checkbox input[type=checkbox]").each(function(){
          $(this).iCheck('uncheck');
        });
    });


</script>
</body>
</html>