/* 1px=0.02rem */
.bgcC{
   background-color: #ffffff !important;
}
.fonts15{
   font-size: 15px;
}
.fonts14{
   font-size: 14px;
}
.fonts12{
   font-size: 12px;
}
.mt4{
   margin-top: 0.08rem;
}
.mt10{
   margin-top: 0.2rem;
}
.mt16{
   margin-top: 0.32rem;
}
.mr1{
  margin-right: 1%;
}
.fc{
   color: #999999;
}
.ft15{
   font-size: 15px;
}
.transform (@angeles){
  -ms-transform: rotate(@angeles);
  -webkit-transform: rotate(@angeles);
  -o-transform: rotate(@angeles);
  -moz-transform: rotate(@angeles);
}
.eleHeight (@rem){
  height: @rem;
  line-height: @rem;
}
.widHig(@remw,@remH){
   width: @remw;
   height: @remH;
}
.transformY(@px){
   transform: translateY(@px);
   -webkit-transform: translateY(@px);
}
.Rtransform(@deg){
   -ms-transform: rotate(@deg);
   -webkit-transform: rotate(@deg);
   -o-transform: rotate(@deg);
   -moz-transform: rotate(@deg);
}

.background(@url,@boolean:true){
   background-image: url('../@{url}');
   & when(@boolean){
       background-repeat: no-repeat;
   }
}
/* listenCourse.html */
.headCom{
   position: relative;
   .topmeun{
      width: 0.48rem;
      height: 1.5rem;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      z-index: 800;
      .icon-icon-back-left{
         display: inline-block;
         position: absolute;
         top: 50%;
         margin-top: -0.28rem;
         color: #666666;
         font-size: 28px;
      }
   }
   .com{
      background: #ffffff;
      height:1.5rem;
      width: 100%;
      //border-bottom: 2px solid #e5e5e5;
      ul{
         height: 100%;
         width: 150%;
         padding-left: 8%;
         //overflow-x: scroll;
         -webkit-overflow-scrolling: touch;
         white-space: nowrap;
         overflow-x:hidden;
         overflow: hidden;
         li{
            float: left;
            height: 100%;
            a{
               display: block;
               .eleHeight(1.5rem);
               width: 1.6rem;
               font-size: 16px;
               &.active{
                  color: #ff6100;
               }
               i.icon-xiala-left{
                  font-size: 24px;
                  color: #666666;
                  font-weight: bold;
                  margin: 0 2%;
                  vertical-align: sub;
               }
            }
         }
      }
   }
}
/* 头部E */
.img{
   display: block;
   height: 3rem;
   width: 100%;
   border-bottom: 1px solid #e5e5e5;
}
.mianCont .contHear{
   height: 1rem;
   width: 100%;
   background-color: #ffffff;
   ul{
      height: 100%;
      width: 100%;
      li{
         display: inline-block;
         float: left;
        .eleHeight(1rem);
         width: 33.33%;
         font-size: 16px;
         text-align: center;
         color: #999999;
         &.cur{
            border-bottom: 0.04rem solid #5a99e5;
            color: #333333;
         }
      }
   }
}
.mianCont .swipe{
   height: 100%;
   width: 100%;
   display: none;
   &.show{
     display: block;
   }
   ul li a{
      display: block;
      width: 100%;
      height: 1.3rem;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      .Himg{
         display: inline-block;
         position: absolute;
         left: 0.68rem;
         top: 30%;
         margin-top: -0.12rem;
         i.icon-cur-eye{
            font-size: 30px;
            color: #5a99e5;
         }
         i.icon-cur-lock{
            font-size: 30px;
            color: #999999;
         }
      }
      .study{
         position: absolute;
         left: 1.64rem;
         .pp{
           .eleHeight(0.66rem);
            font-size: 16px;
         }
         .progess{
            .maxPro{
               width:3.4rem;
               height: 0.3rem;
               background-color: #ededed;
               display: inline-block;
               vertical-align: middle;
               border-radius: 0.12rem;
               overflow: hidden;
               position: relative;
               .curPro{
                  height: 100%;
                  max-width: 3.6rem;
                  background-color: #5a99e5;
                  border-radius: 0.12rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  z-index: 1
               }
            }
            .proNum{
               color: #666;
               font-size: 14px;
               margin-left:0.2rem;
               vertical-align: middle;
               position: absolute;
               bottom: 0px;
               right: -0.76rem;
            }
         }
      }
      .hArrow{
         position: absolute;
         display: inline-block;
         top: 50%;
         margin-top: -0.12rem;
         right: 8%;
        .arows{
           width: 0.24rem;
           height: 0.24rem;
           font-weight: 900;
           border-top: 0.04rem solid #666666;
           border-left: 0.04rem solid #666666;
           display: inline-block;
          .transform (-225deg);
        }
      }
   }
}
/* video.html  视频页面  */
.CoureseBody{
   display: block;
   height: 100% !important;
   width: 100% !important;
   padding-left: 0px !important;
   ul{
      .singelLi{
         width: 44%;
         background-color: #ffffff;
         margin-left: 3%;
         margin-right: 3%;
         margin-top: 0.2rem;
         .item .tp{
            position: relative;
            .sanjiao{
               position: absolute;
               top: 0;
               left: 0;
               z-index: 30;
               width: 0;
               height: 0;
               border-top: 1.2rem solid #ff6e6e;
               border-right: 1.2rem solid transparent;
               .ico-lt{
                  color: #fff;
                  font-size: 15px;
                  position: relative;
                  left: -0.6rem;
                  top: -1.04rem;
                  font-weight: 300;
                  text-align: center;
                 .transform (-43deg);
                  display: block;
                  width: 2rem;
                 .eleHeight(0.4rem);
               }
            }
         }
      }
   }
}

/* Video/play.html  视频页面  */
.playVideo{
   .palyV{
      height: 2.66rem;
      width: 100%;
      overflow: hidden;
      .player{
         height: 2.66rem;
      }
   }
   .Hrow{
      .eleHeight(0.6rem);
      padding: 0 5%;
      background-color: #f5f5f5;
      font-size: 14px;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      .hfont{
         color: #333333;
      }
      .ke{
         color: #b4b4b4;
         .icon-xiala{
            vertical-align: middle;
            font-size: 19px;
         }
         .icon-guanbi{
            vertical-align: middle;
         }
      }
      .introduce{
         &.Hshow{
            display: block;
         }
         display: none;
         position: absolute;
         top: 0.6rem;
         left: 0;
         width: 90%;
         padding: 0 5%;
         min-height: 1.6rem;
         background-color: #f5f5f5;
         z-index: 300;
         white-space:normal;
         border-top: 1px solid #e5e5e5;
         div{
            width: 100%;
            //white-space:normal;
         }
      }
   }
   .questionMain{
      background-color: #ffffff;
      min-height: 8rem;
      ul{
         width: 100%;
         //overflow: hidden;
         li{
            margin-bottom: 0.4rem;
            //每个li中的内容
            .item{
               overflow: hidden;
               padding-left: 4%;
               //左边图片
               .tp{
                  width: 0.94rem;
                  height: 0.94rem;
                  border-radius: 50%;
                  overflow: hidden;
                  border: 1px solid #F2F2F2;
                  img{
                     width: 100%;
                  }
               }
               //右边文字
               .txt{
                  margin-left: 1.28rem;
                  .txIn{
                     .tHd{
                        font-size: 14px;
                        color: #333;
                        i{
                           font-style: normal;
                           vertical-align: middle;
                           color: #fff;
                           width: 0.4rem;
                           .eleHeight(0.4rem);
                           text-align: center;
                           border-radius: 2px;
                           display: inline-block;
                           border-width: 1px;
                           border-style: solid;
                        }
                        span{
                           vertical-align: middle;
                           margin-left:0.04rem;
                        }
                     }
                     .wz{
                        line-height: 0.44rem;
                        font-size: 14px;
                        margin:0.1rem 1rem 0 0;
                     }
                     .hand{
                        margin-top: 0.2rem;
                        color: #999;
                        height:0.48rem;
                        position: relative;
                        .mesIco{
                           position: absolute;
                           right: 0.5rem;
                           top: 0;
                           font-size: 16px;
                           color: #999;
                           cursor: pointer;
                           i{
                              width: 0.44rem;
                              height: 0.4rem;
                             // .background(images/hfIco.png);
                              background: url("../images/hfIco.png") no-repeat;
                              display: inline-block;
                              vertical-align: middle;
                              margin-right: 0.06rem;
                           }
                        }
                     }
                  }
                  .anArea{
                     width: 86%;
                     margin-top: 0.2rem;
                     display: none;     //默认hide
                          &.show{        //控制主人回复框的显示
                             display: block;
                          }
                     textarea{
                        width: 96%;
                        padding: 0.1rem 0.2rem;
                        min-height: 1.2rem;
                        font-size: 14px;
                        color: #666;
                        border: 1px solid #F2F2F2;
                        border-radius:0.08rem;
                        appearance:none;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari 和 Chrome */
                     }
                     .bot{
                        text-align: right;
                        margin-top: 0.1rem;
                        position: relative;
                        a{
                           width: 0.96rem;
                           .eleHeight(0.54rem);
                           background-color: #F2F2F2;
                           text-align: center;
                           border-radius: 2px;
                           display: inline-block;
                           margin-left: 0.2rem;
                           &.subBtn{
                              background-color: #0b97c4;
                              color: #fff;
                           }
                        }
                     }
                  }
                  .item{
                     &.itemX{
                        margin-top: 0.2rem;
                        padding-left: 0;
                        .tp{
                           width: 0.7rem !important;
                           height: 0.7rem !important;
                        }
                        .txt{
                           margin-left: 1.08rem;
                        }

                     }
                  }
               }
            }
         }
      }
   }
}

/* learn.html  视频页面  */
.Hlearn{
   //tab栏切换
   .learnTab{
       background-color: #ffffff;
      border-bottom: 1px solid #e5e5e5;
       ul{
         .eleHeight( 0.84rem);
          li{
             width: 33%;
             float: left;
             &.cur{
                border-bottom: 0.04rem solid #5a99e5;
                a{
                   color: #333333;
                }
             }
             a{
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 16px;
                color: #b0b0b0;
             }
          }
       }
   }
   .questionMain{
      display: none;
       &.show{
          display: block;      //show 控制显示的类
       }
      .Hfrom{
         width: 90%;
         padding: 0 5%;
         padding-top: 0.36rem;
         textarea{
            width: 94%;
            border: none;
            padding: 0.1rem 0.2rem;
            min-height: 1.2rem;
            font-size: 14px;
            color: #666;
            border: 1px solid #F2F2F2;
            border-radius: 0.08rem;
            appearance:none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari 和 Chrome */
         }
         .tijiao{
            text-align: right;
            height: 0.8rem;
            padding-top: 0.32rem;
            .subBtn{
               display: inline-block;
               width: 1.66rem;
               .eleHeight( 0.8rem);
               background-color: #ff6100;
               text-align: center;
               border-radius: 4px;
               color: #ffffff;
               font-size: 14px;
            }
         }
      }
      /*  加载更多  */
      .clickMore{
         margin-top: 0.2rem;
         text-align: center;
         color: #999999;
      }
   }
/* 发表笔记页面 */
   .questionMain {
     .noteItem{
       width: 92%;
       border-bottom: 1px solid #e5e5e5;
       padding: 0.4rem 3% 0.32rem 3%;
       &.active .anArea{
         display: block;   /* 用active来控制文本框的显示 */
       }
       .noteA{
         display: inline-block;
         font-size: 16px;
       }
       /* 文本框S */
       .anArea{
         display: none;
         textarea{
           width: 6.6rem;
           min-height: 1.0rem;
           border: 1px solid #e5e5e5;
           border-radius: 4px;
           font-size: 14px;
           color: #808080;
            padding: 0.16rem 0 0 0.2rem;
         }
         .bot{
           text-align: right;
           margin-top: .2rem;
           position: relative;
           a{
             width: 0.8rem;
             .eleHeight( 0.5rem);
             background-color: #ff6100;
             text-align: center;
             border-radius: 2px;
             display: inline-block;
             margin-left: 0.2rem;
             color: #ffffff;
           }
         }
       }
       /* 文本框E */
       .noteFoot{
         .eleHeight( 0.7rem);
         font-size: 13px;
         .operate{
           span{
             display: inline-block;
             font-size: 16px;
             i.iconfont{
                font-size: 18px;
                vertical-align: initial;
                margin-right: 0.06rem;
             }
             i.icon-bofang{
               color: #76bdff;
               font-size: 22px;
               vertical-align: middle;
             }
             em{
               display: inline-block;
               border: 1px solid #e5e5e5;
               border-left: none;
               font-size: 12px;
               .eleHeight(0.38rem);
               background-color: #f7f7f7;
               color: #666666;
               margin-left: -0.12rem;
             }
           }
         }
       }
     }
     /* 遮罩层S */
     .Hmask{
       width: 100%;
       height: 100%;
       background-color: rgba(0,0,0,0.5);
       position: fixed;
       top: 2.8rem;
       left: 0;
       z-index: 666;
       display:none;
       .maskDel{
         width: 40%;
         margin: 0 auto;
         background-color: #fff;
         padding: 0.2rem;
         margin-top: 2.6rem;
         text-align: center;
         .deleWZ{
           .eleHeight(0.9rem);
           font-size: 18px;
           text-align: center;
         }
         .maskFrom{
           margin-bottom: 0.3rem;
           margin-top: 0.2rem;
           a{
             width: 1.28rem;
             .eleHeight(0.6rem);
             display: inline-block;
             color: #ffffff;
             &.Hcancel{
               background-color: #808080;
               margin-right: 0.16rem;
             }
             &.Hsubmit{
               background-color: #f00;
             }
           }
         }
       }
     }
     /* 遮罩层E */
     /* 动画S */
     .delBoxAni{
       animation: bounceInDown 1s;
       -webkit-animation: bounceInDown 1s;
     }
     @keyframes bounceInDown  {
       0%{
          opacity: 0;
          .transformY(-2000px);
       }
       50%{
          opacity: 1;
          .transformY(100px);
       }
       80%{
          opacity: 1;
          .transformY(-50px);
       }
       90%{
          opacity: 1;
          .transformY(10px);
       }
       100%{
          opacity: 1;
          .transformY(0px);
       }
     }
     @-webkit-keyframes bounceInDown {
       0%{
          opacity: 0;
          .transformY(-2000px);
       }
       50%{
          opacity: 1;
          .transformY(100px);
       }
       80%{
         opacity: 1;
          .transformY(-50px);
       }
       90%{
         opacity: 1;
          .transformY(10px);
       }
       100%{
           opacity: 1;
          .transformY(0px);
       }
     }
     /* 动画S */
   }

/* 视频目录页面 */
    .questionMain .videoItem{
         padding: 8% 4%;
       .list{
          .itemLi{
             padding: 0.16rem;
             &.bofang{
                .itemMain .liRight i.icon-bofang{
                   color: #76bdff;
                   vertical-align: bottom;
                   font-size: 20px;
                   margin-right: 0.08rem;
                }
             }
             &.boxShadow{
                -webkit-box-shadow:0 0 0.2rem #76bdff;
                -moz-box-shadow:0 0 0.2rem #76bdff;
                box-shadow:0 0 0.2rem #76bdff;
             }

             .itemMain{
               .pic{
                  display: inline-block;
                  width: 2.5rem;
                  height: 1.9rem;

                  overflow: hidden;
                  float: left;
                  position: relative;
                  .img{
                     width: 100%;
                     height: 100%;
                  }
                  i.icon-shoucang{
                     font-size: 20px;
                     top: 0.2rem;
                     right: 0.2rem;
                     color: #ff6e6e;
                     position: absolute;
                  }
                  i.icon-icon-sel-shixin{
                     font-size: 28px;
                     top: 0.12rem;
                     right: 0.12rem;
                     color: #ff6e6e;
                     position: absolute;
                  }
                  .sanjiao{
                     position: absolute;
                     top: 0;
                     left: 0;
                     z-index: 30;
                     width: 0;
                     height: 0;
                     border-right: 1.2rem solid transparent;
                     &.blueColor{
                        border-top:1.2rem solid #76bdff;
                     }
                     &.redColor{
                        border-top:1.2rem solid #ff6e6e;
                     }
                     .ico-lt{
                        color: #fff;
                        font-size: 15px;
                        position: relative;
                        left: -0.6rem;
                        top: -1.04rem;
                        font-weight: 300;
                        text-align: center;
                        .Rtransform(-43deg);
                        //-ms-transform: rotate(-43deg);
                        //-webkit-transform: rotate(-43deg);
                        //-o-transform: rotate(-43deg);
                        //-moz-transform: rotate(-43deg);
                        display: block;
                        width: 2rem;
                        .eleHeight ( 0.4rem);
                     }
                  }
               }
               .liRight{
                  float: right;
                  margin-right: 0.12rem;
                  width: 54%;
                  .wzH{
                     font-size: 16px;
                     min-height: 0.9rem;
                  }
                  .botm{
                    .eleHeight(0.8rem);
                     color: #999999;
                     span{
                        display: inline-block;
                        font-size: 15px;
                        &.style{
                           text-decoration: line-through;
                        }
                        i.icon-216{
                           color: #76bdff;
                           font-size: 20px;
                           margin-right: 0.08rem;
                        }
                        em.cssStyle{
                           color: #ff6e6e;
                        }
                     }
                  }
               }

             }
          }
       }
    }
}

/* buyVideo.html  视频页面  */
.buyVideo{
      .search{
         height: 0.6rem;
         padding: 0.2rem 0;
         position: relative;
         width: 6.24rem;
         padding-left: 8%;
         .search-input{
            border: 1px solid #e5e5e5;
            margin-right: 0.98rem;
            padding-right:0.2rem;
            overflow: hidden;
            input{
               border: none;
               width: 100%;
               padding: 0.1rem 0  0.1rem  0.2rem;
              .eleHeight(0.55rem);
               outline: none;
               color: #999;
            }
         }
         .search-submit{
            width: 1rem;
           .eleHeight( 0.76rem);
            cursor: pointer;
            position: absolute;
            right: 0.12rem;
            top: 0.22rem;
            background: #00ace9;
            outline: none;
            padding: 0;
            text-align: center;
            i.icon-sousuo_selC11{
               color: #ffffff;
               font-size: 22px;
            }
         }
      }
      .classify{
         background-color: #ffffff;
        .eleHeight(  0.8rem);
         text-align: center;
         margin: 0.24rem 0  0.16rem 0;
         font-size: 16px;
         position: relative;
         p{
            i.icon-icon-back-copy{
               margin-left: 0.12rem;
            }
            i.icon-icon-back-copy-copy{
               margin-left: 0.12rem;
            }
         }
      /* 视频购买下拉 */
       .videoMsg{
          position: absolute;
          top: 0.8rem;
          left: 0;
          z-index: 500;
          background-color: #ffffff;
          width: 88%;
          padding: 0 6%;
          border-top: 1px solid #e5e5e5;
          display: none;
          ul{
             p{
                height: 100%;
                text-align: left;
                color: #666666;
                font-size: 18px;
             }
             li{
                color: #666666;
                &.cur{
                   color: #76bdff;
                }
               .xinren{
                  margin-left: 10%;
                  i.icon-cur-eye{
                     font-size: 22px;
                     vertical-align: middle;
                     margin-right: 0.16rem;
                     color: #5a99e5;
                  }
                  i.icon-cur-lock{
                     font-size: 22px;
                     vertical-align: middle;
                     margin-right: 0.16rem;
                  }
               }
             }
          }
       }
      }
}
/*  videoNull.html  */
 .null{
   .Nullimg{
      margin: 0 auto;
      width: 100%;
      height: 4.44rem;
      background: url("../images/curriculum-message.png") no-repeat;
      background-size: 80% 80%;
      background-position: center;
      margin-top:0.6rem;
   }
   .result{
      text-align: center;
      font-size: 16px;
      color: #666666;
      .eleHeight (0.4rem);
   }
}
/*  operation.html  */
.operation{
   .error{
      margin: 0 auto;
      width: 100%;
      height: 1.2rem;
      background: url("../images/curriculum-icon-false.png") no-repeat;
      background-position: center;
      margin-top: 3.0rem;
   }
   .fail{
      text-align: center;
      color: #333333;
     .eleHeight( 0.4rem);
      font-size: 16px;
   }
   .go{
     .eleHeight( 0.4rem);
      text-align: center;
      color: #666666;
      font-size: 15px;
      margin-top: 0.16rem;
      a{
         font-size: 15px;
         color: #76bdff;
         text-decoration: underline;
      }
   }
}

/* index.html  登录前的首页  */
.head{
   display: block;
   padding: 0 6%;
   .eleHeight (1.6rem);
   background-color: #ffffff;
   .logo{
      display: inline-block;
      width: 59%;
   }
   .loginReg{
      a{
         display: inline-block;
         color: #eb5500;
         font-size: 18px;
      }
   }
}
.banner{
   width: 100%;
   //height: 300px;
   position: relative;
   overflow: hidden;
   .imgUl{
      width: 1000%;
      li{
         width: 10%;
         float: left;
         a img{
            width: 100%;
            height: 100%;
         }
      }
   }
   .dotUl{
      width: 2.36rem;
      position: absolute;
      left: 50%;
      bottom: 0.2rem;
      margin-left: -1.18rem;
      li{
         width: 0.12rem;
         height: 0.12rem;
         border-radius: 3px;
         border: 1px solid #ffffff;
         float: left;
         margin-left: 0.2rem;
         &.now{
            background-color: yellow;
         }
      }
   }
}
.broadcast{
  .eleHeight( 0.9rem);
   padding-left: 3%;
   padding-right: 1%;
   overflow:hidden;
   background-color: #f5f5f5;
   border-bottom: 1px solid #e5e5e5;
   .icon-home-icon-announceme{
      color: #7bbfff;
      font-size: 24px;
   }
   .Hdeom{
      overflow:hidden;
     .eleHeight( 0.9rem);
      display: inline-block;
      ul{
        .eleHeight( 0.9rem);
         li{
            font-size: 20px;
            margin-left: 0.1rem;
            a{
               color: #666666;
               font-size: 15px;
            }
         }
      }
   }
   .timeGo{
     .eleHeight( 0.9rem);
      span{
         display: inline-block;
         color: #999999;
         font-size: 15px;
         a{
            display: inline-block;
            width: 0.6rem;
            height: 0.48rem;
            background: url("../images/curriculum-icon-more.png") no-repeat;
            background-size: 50% 50%;
            background-position: center bottom;
         }
      }
   }
}
//学员人数块S
.imgEle{
   width: 0.9rem;
   height: 0.9rem;
   background-position: center;
   background-size: 85% 98%;
}

.data{
   display: block;
   height: 2rem;
   background-color: #ffffff;
   border-bottom: 1px solid #e5e5e5;
   ul li{
      width: 31.3%;
      padding-left: 2%;
      float: left;
      color: #999999;
      padding-top: 0.6rem;
      .dataImg{
        .imgEle;
         background: url("../images/home-icon-number-of-trainees.png") no-repeat;
      }
      .dataImg1{
         .imgEle;
         background: url("../images/home-icon-courses.png") no-repeat;
      }
      .dataImg2{
         .imgEle;
         background: url("../images/home-icon-time.png") no-repeat;
      }
      .hTXT{
         margin-left: 0.8rem;
         p{
            em{
               color: #333333;
               font-size: 17px;
            }
         }
         .mt4{
            margin-top: 0.08rem;
         }
      }
   }
};
//学员人数块E
.nav_icon{
   height: 7.6rem;
   width: 100%;
   background-color: #ffffff;
   ul{
      width: 100%;
      height: 100%;
      li{
         width: 33%;
         float: left;
         height: 2.0rem;
         text-align: center;
         padding-top: 0.4rem;
         p{
            font-size: 15px;
            margin-top: 0.16rem;
         }
      }
   }
}
.title{
   width: 100%;
   text-align: center;
   font-size: 26px;
   color: #e15f1e;
   padding: 0.3rem 0;
   background-color: #ffffff;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   b{
      display: inline-block;
      width: 22%;
      height: 2px;
      vertical-align: middle;
      overflow: hidden;
      color: #333333;
      background: #1e1919;
   }
}

.kechengtijian{
   height: 6.88rem;
   .imgH{
      height: 6.88rem;
      width: 35%;
      background: url("../images/home-banner02.png") no-repeat;
      background-size: 100% 100%;
      background-position: center;
      position: relative;
      .huai{
         position: absolute;
         top: 0.4rem;
         left: 0.04rem;
         color: #ffffff;
         font-size: 15px;
      }
      .keLink{
         position: absolute;
         top: 1.1rem;
         left: 50%;
         margin-left: -0.8rem;
         display: inline-block;
         width: 1.6rem;
        .eleHeight( 0.64rem);
         border: 1px solid #ffffff;
         border-radius: 4px;
         text-align: center;
         color: #ffffff;
         font-size: 14px;
      }
   }
   .keWz{
      height: 6.88rem;
      width: 65%;
      background: #ffffff;
      ul li{
         border-bottom: 1px solid #e5e5e5;
         .wz01{
            display: inline-block;
            color: #333333;
            font-size: 14px;
            width: 41%;
            padding-left: 5%;
         }
         .ti02{
            display: inline-block;
            width: 25%;
            text-align: center;
            color: #333333;
            height: 1rem;
            margin-top: 0.6rem;
            span{
               font-size: 17px;
            }
            em{
               font-size: 17px;
              color: #ff6100;
            }
            p{
               font-size: 14px;
               margin-top:0.12rem;
               color: #999999;
            }
         }
      }
   }
}

/*  首页中的视频列表  */
.videoIcon{
  color: #ff6e6e;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.listVideo{
   display: block;
   background-color: #ffffff;
   height: 3.92rem;
   width: 96%;
   position: relative;
   ul{
      width: 100%;
      max-height: 3.92rem;
      li{
         width: 46%;
         height: 100%;
         float: left;
         .item{
            overflow: hidden;
            border: 1px solid transparent;
            padding: 0.16rem 0.12rem 0.32rem 0.12rem;
            .tp{
               position: relative;
               img{
                  display: block;
                  width: 100%;
                  height: 100%;
               }
               .icon-shoucang{
                 .videoIcon;
               }
               .icon-icon-sel-shixin{
                 .videoIcon;
               }
            }
            .Htxt{
               margin-top: 0.2rem;
               .tiName{
                  font-size: 14px;
                  line-height: 0.4rem;
                  min-height: 0.8rem;
                  overflow:hidden;
                  text-overflow:ellipsis;
                  display:-webkit-box;
                  -webkit-line-clamp:2;
                  -webkit-box-orient:vertical;
                  a{
                     font-size: 14px;
                  }
               }
               .bot{
                  margin-top: 0.16rem;
                  color: #999;
                  overflow: hidden;
                  line-height: 0.48rem;
                  width: 100%;
                  .money{
                     em{
                        color: #ff9999;
                        font-size: 15px;
                     }
                  }
                 //视频块icon的公用样式
                 .Hicon{
                   color: #76bdff;
                   font-size: 20px;
                   vertical-align: middle;
                 }
                  .handle{
                     .icon-216{
                       .Hicon;
                     }
                     .icon-bofang{
                       .Hicon;
                     }
                  }
               }
            }
         }
      }
   }
   .Harr{
      .icon-icon-back-left{
         position: absolute;
         top: 40%;
         left: 0.08rem;
         display: block;
         font-size: 26px;
         color: #666666;
      }
      .icon-icon-back-right{
         position: absolute;
         top: 40%;
         right: 0.1rem;
         display: block;
         font-size: 26px;
         color: #666666;
      }
   }
}
//新增做的处理
.listVideo{
   width: 100%;
   .NEW{
      width: 91%;
      height: 3.92rem;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      ul{
         position: absolute;
         top: 0;
         left: 0;
         li{
            width: 3.4rem;
            height: 100%;
            float: left;
            .tp .icon-icon-sel-shixin{
               color: #ff6e6e;
               position: absolute;
               top: 0.12rem;
               right: 0.12rem;
               font-size: 22px;
            }
         }
      }

   }
   .Harr{
      .icon-icon-back-left{
         position: absolute;
         top: 40%;
         left: 0;
         display: block;
         font-size: 24px;
         color: #666666;
      }
      .icon-icon-back-right{
         position: absolute;
         top: 40%;
         right: 0;
         display: block;
         font-size: 24px;
         color: #666666;
      }
   }
}
.playVideo .questionMain .source{
   .eleHeight( 0.6rem);
   font-size: 14px;
   a{
      font-size: 14px;
      color: #ffaf80;
   }
}
.indexImg{
   display: block;
   width: 100%;
   height: 100%;
}
.footMsg{
   height: 6.1rem;
   background-color: #ffffff;
   width: 100%;
   border-bottom: 1px solid #e5e5e5;
   .erweima{
      margin: 0 auto;
      width: 6.1rem;
      height: 3.24rem;
      margin-top: 0.6rem;
      img{
         width: 90%;
         height: 100%;
      }
      p{
         font-size: 14px;
         margin-top: 0.2rem;
      }
   }
   .ban{
      .eleHeight (0.6rem);
      text-align: center;
   }
}
.foot{
   display: block;
   height: 1.1rem;
   background-color: #ffffff;
   border-top: 1px solid #e5e5e5;
   z-index: 800;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   ul li{
      float: left;
      width: 25%;
      padding: 0.14rem 0;
      text-align: center;
     a{
        display: inline-block;
        &.cur{
           color: #ff6100;
        }
        .iconfont{
           font-size: 28px;
        }
        p{
           font-size: 14px;
        }
     }
   }
}

/* commonQuestion.html  */
.bgcImg(@Wrem,@hrem){
   display: inline-block;
   vertical-align: -webkit-baseline-middle;
   margin-right: 0.12rem;
   width:@Wrem;
   height:@hrem
}
.comQuestion{
   width: 100%;
   display: none;
   &.Hshow{
      display: block;
   }
   ul li{
      border-bottom: 1px solid #e5e5e5;
      height: 2.4rem;
      padding: 0.52rem 0.4rem 0 0.4rem;
       .one{
          .Q{
            .bgcImg(0.5rem, 0.6rem);
             background: url("../images/common-problem-icon-questions.png") no-repeat;
             background-size: 85% 85%;
          }
          .nes{
             .bgcImg(0.72rem,0.6rem);
             background: url("../images/Official-information-icon-conversation.png") no-repeat;
             background-size: 90% 90%;
          }
          .text{
             font-size: 16px;
             color: #727272;
          }
       }
       .content{
           padding-left: 0.6rem;
          font-size: 13px;
          min-height: 1rem;
       }
       .time{
          text-align: right;
          color: #999999;
          font-size: 14px;
          margin-top: 0.28rem;
       }

   /*  平台公告块S  */
     .main{
        .imgImg{
           width: 20%;
           height: 1.46rem;
           background: url("../images/home-platform-announcement-img.png") no-repeat;
           background-size: 82%;
        }
        .wz{
           width: 80%;
           .wz1{
              color: #666666;
              font-size: 15px;
           }
        }
     }
   }
}

/* guangfang.html  */
.company{
   width: 100%;
   display: none;
   &.Hshow{
      display: block;
   }
   .intro{
      padding: 0.5rem 0.3rem  0  0.3rem;
      font-size: 15px;
      margin-bottom: 0.16rem;
   }
   .us{
      padding: 0.5rem 0.3rem  0  0.3rem;
      font-size: 15px;
      line-height: 0.4rem;
   }
//   联系我们块
   .contactUs{
      margin-top: 0.64rem;
      .title{
         border-bottom: none;
         border-top: none;
         b{
            color: #5a99e5;
            background: #5a99e5;
            width: 15%;
            height: 1px;
         }
      }
      .callMe{
         background-color: #ffffff;
         padding-left: 5%;
         color: #666666;
         font-size: 16px;
         min-height: 3rem;
         .li{
            margin-bottom: 0.3rem;
            input{
               border: 1px solid #e5e5e5;
               width: 88%;
               .eleHeight (0.8rem);
               padding-left: 4%;
               border-radius: 3px;
            }
         }
         .btnDiv{
            text-align: center;
            margin-top: 0.6rem;
            .btn{
               width: 2.4rem;
               .eleHeight (0.8rem);
               background-color: #ffffff;
               border: 1px solid #ff6100;
               color: #999999;
               border-radius: 4px;
            }
         }
      }
   }
}

/*  student.html  */
.mianCont{
   .HcontHeard{
      height: 1rem;
      width: 100%;
      background-color: #ffffff;
      ul li{
         display: inline-block;
         float: left;
         height: 1rem;
         line-height: 1rem;
         width: 50%;
         font-size: 16px;
         text-align: center;
         color: #999999;
         &.cur{
            border-bottom: 2px solid #5a99e5;
            color: #333333;
         }
      }
   }
   .matter{
      display: none;
      min-height: 11rem;
      background-color: #ffffff;
      &.show{
         display: block;
      }
      /* 学员视频S */
      .stuVideo{
         background-color: #ffffff;
         padding: 0.4rem;
         position: relative;
         .video{
            border: 1px solid #e5e5e5;
            height: 4.0rem;               //高度先定死
            padding: 0.4rem 0.4rem 0 0.4rem;
            position: relative;
            .playVideo{
               width: 100%;
               a{
                  display: block;
                  position: relative;
                  i{
                     position: absolute;
                     display: inline-block;
                     width: 1.4rem;
                     height: 1.4rem;
                     background: url("../images/bfIco.png") no-repeat;
                     left: 50%;
                     margin-left: -0.6rem;
                     top: 50%;
                     margin-top: -0.6rem;
                  }
               }
            }
            .videoTxt{
               margin-top: 0.2rem;
               color: #999999;
               .wzwz{
                  overflow:hidden;text-overflow:ellipsis;white-space:nowrap
               }
               .icon-xiala{
                  vertical-align: middle;
               }
               .icon-icon-back-copy{
                  vertical-align: middle;
               }
            }
         }
         .detail{
            display: none;
            &.show{
               display:block;
               border: 1px solid #e5e5e5;
               border-top: none;
               color: #999999;
               width: 81%;
               padding: 3% 4%;
               font-size: 14px;
               position: absolute;
               z-index: 500;
               height: 0.8rem;
               background-color: #ffffff;
            }
         }
      }
      /* 学院视频E */
   }
   /* 学员介绍S */
   .introduction{
      padding: 0.4rem 0.2rem 0  0.3rem;
      background-color: #ffffff;
      min-height: 14rem;
      ul{
         width: 100%;
         li{
            border: 1px solid #e5e5e5;
            height: 5.2rem;
            width: 39%;    //这里的宽度先定死
            margin: 0.2rem 0.22rem;
            float: left;
            padding: 0.2rem 0.14rem 0 0.14rem;
            transition: all ease .2s;
            -webkit-transition: all ease .2s;
            -moz-transition: all ease .2s;
            -ms-transition: all ease .2s;
            position: relative;
            &.hover{
               box-shadow: 0 0 0.2rem #ebebeb;
               -webkit-box-shadow: 0 0 0.2rem #ebebeb;
               -moz-box-shadow: 0 0 0.2rem #ebebeb;
               .bottom{
                  .txt02{
                     position: absolute;
                     height: 3.8rem;
                     z-index: 800;
                     background-color: #ffffff;
                  }
               }

            }
            .heightImg{
               height: 3.4rem;
               overflow: hidden;
               background: url("../images/home-banner02.png") no-repeat;
               background-size: cover;
            }
            .bottom{
               position: absolute;
               width: 92%;
               top: 3.7rem;
               .txt01{
                  text-align: center;
                  color: #333333;
                  font-size: 17px;
                  .eleHeight (0.6rem);
                  margin: 0.12rem 0;
               }
               .txt02{
                  color: #666666;
                  font-size: 14px;
                  overflow:hidden;
                  text-overflow:ellipsis;
                  height: 0.58rem;
               }
            }
         }
      }
   }
   /* 学员介绍E */
}









