/*左侧栏*/
.Horder{
    margin-top: 20px;
    overflow: hidden;
}
.Hin{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}
/*左侧下拉*/
.Hlist{
    min-height: 500px;
    background-color: #fff;
}
.Hlist ul{
    padding-bottom: 30px;
}
.Hlist ul li{
    color: #666666;
    position: relative;
    width: 188px;
    padding: 0 20px 0 22px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}
.Hlist ul li a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    width: 100%;
    color: #666666;
}
.Hlist ul li a .iconfont{
    font-size: 20px;
}
.Hlist ul li a i.icon-xiala-c-tio-copy{
    font-size: 20px;
}
.Hlist ul li dl{
    display: none;
    padding-left: 23px;
}
.Hlist ul li i{ width: 15px; height: 15px; background: url("../../public/images/icoChg.png") no-repeat; position: absolute; right: 20px; top: 18px;}
.Hlist ul li.open i{ background-position: right top;}

.Hlist ul li.open dl{ display: block; padding-bottom: 10px;}

.Hlist ul li dl dd a{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    width: 100%;
    color: #666666;
}
.Hlist ul li dl dd a.cur{
    color: #ff6666;
}
.Hlist ul li dl.active{
   /* display: block;*/
}
/*右边*/
.newOrder{
    width: 952px;
    height: 100%;
    background-color: #ffffff;
}
.newOrder .comHead{
    padding-left: 26px;
    width: 98%;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #f5f5f5;
}
.newOrder .comHead span{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    border-bottom: 2px solid #ff6666;
    color: #666666;
    font-size: 16px;
}
.newOrder .com{
    min-height: 1100px;
    border-bottom: 1px solid #e5e5e5;
}
.newOrder .com .inpCom{
    overflow: inherit;
    padding-top: 35px;
    margin-left: 120px;
    margin-top: 0;
}
.newOrder .com .inpCom ul{
    width: 100%;
}
.newOrder .com .inpCom ul li{
    margin-bottom: 20px;
    font-size: 14px;
}
.newOrder .com .inpCom ul li .inp {
    width: 100%;
    height: 40px;
}
/* jeDate插件 */
.newOrder .wicon{background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg=="); background-repeat:no-repeat; background-position:right center;}

/*单选框S*/
input { padding: 0; margin: 0; border: 0; }

.Hradio:before { content: ""; display: table; }

.Hradio:after { content: ""; display: table; clear: both; }

.Hradio > div {
    position: relative;
    float: left;
    margin-right: 38px;
    width: 80px;
    height: 40px;
    line-height: 40px;
}
.Hradio > div:last-child {
    margin-right: 0;
}
.Hradio label {
    display: block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.Hradio input {
    z-index: 3;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.Hradio .user-defined {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 48px;
    margin: auto;
    width: 16px;
    height: 16px;
    border: 1px solid #ff6666;
    border-radius: 50%;
    cursor: pointer;
}
.Hradio .user-defined span.circle  {
    display: block;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: transparent;
    border-radius: 50%;
}
.Hradio .user-defined span.active  {
    background-color: #ff6666;
}
/*单选框E*/
.inpCom .inp .rMsg{
    display: inline-block;
     margin-left: -30px;
}
.newOrder .com .inpCom ul li .inp .ti {
    width: 80px;
    line-height: 38px;
    display: inline-block;
    float: left;
    text-align: -webkit-right;
    margin-right: 30px;
}
.newOrder .com .inpCom .inp i {
    color: #ff5555;
    font-style: normal;
    vertical-align: middle;
    margin-left: 2px;
}
.newOrder .com .inpCom  .plus .tao{
    color: #76bdff !important;
}
.newOrder .com .inpCom .inp p{
    width: 268px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    float: left;
}
.newOrder .com .inpCom .inp input[type="text"]{
    width: 402px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    float: left;
}
.newOrder .com .inpCom .inp textarea{
    width: 550px;
    padding: 8px 15px 0 15px;
    border-radius: 4px;
    border-color: #e6e6e6;
    border: none;
    border: 1px solid #e6e6e6;
}
.newOrder .com .inpCom .selCom select {
    width: 426px;
    height: 38px;
    margin-right: 6px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 8px 0;
}
.newOrder .com .plus{
    width: 85%;
    padding-left: 120px;
}
.newOrder .com .plus p{
    height: 35px;
    line-height: 35px;
    margin-top: -12px;
    font-size: 12px;
}
.newOrder .com .inpCom .myBtn{
    text-align: center;
    margin-top: 180px;
}
.newOrder .com .inpCom .myBtn .bbtn {
    width: 144px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ff6100;
    font-size: 14px;
    color: #ff6100;
    display: inline-block;
    cursor: pointer;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
}
.newOrder .comFoot{
    margin-left: 120px;
    padding-top: 10px;
    color: #666666;
}
.newOrder .comFoot div{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.newOrder .comFoot p{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}
/* contactUs.html */
.noticeLeft{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    min-height: 500px;
}
.noticeLeft ul li{
    color: #666666;
    text-align: center;
    position: relative;
    width: 220px;
    cursor: pointer;
}
.noticeLeft ul li a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.noticeLeft ul li em{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 50px;
    width:4px;
    background-color:transparent;
}
.noticeLeft ul li.cur a{
    color: #ff6666;
}
.noticeLeft ul li .icon-xiala-copy-copy{
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 0;
    color: #ffffff;
}
.noticeLeft ul li.cur em{
    background-color:#ff6666
}
.noticeLeft ul li.cur .icon-xiala-copy-copy{ color: #ff6666;}

/*右边s*/
.hNotice .noticeRigth{
    width: 950px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff !important;
    min-height: 500px;
}
.hNotice .noticeRigth .p{
    border-bottom: 1px solid #e5e5e5;
    height: 56px;
    color: #ff6666;
}
.hNotice .noticeRigth .p span{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    border-bottom: 2px solid #ff6666;
}
.hNotice .noticeRigth .nContItem{
    font-size: 14px;
}
.hNotice .noticeRigth .nContItem p{
    height: 28px;
    line-height:28px;
}
/* adviceBack.html */
.advice{
    margin: 0 auto;
    width: 540px;
    margin-top: 80px; !important;
    margin-left: 220px !important;
    min-height: 520px;
}
.advice form{
    min-height: 360px;
}
.advice .inp{
    width: 500px !important;
    height: 40px;
    margin-bottom: 20px;
}
.advice .inp .select {
    width: 420px !important;
    height: 40px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.advice .inp textarea{
    width: 81% !important;
    padding: 10px 0 0 7px;
    border-radius: 4px;
    border: none;
    border: 1px solid #e5e5e5;
}
.advice .inp .input{
    width: 398px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    float: left;
    border-radius: 4px;
}
.advice .myBtn .bbtn:hover{
    background-color: #ff6666!important;
    color: #fff;
}

.indexCom{ margin-top: 15px; overflow: hidden;}
.indexCom{ margin-top: 15px; overflow: hidden;}
.order{ margin-top: 15px; overflow: hidden;}
.goodsOrd{ width: 950px; min-height: 740px; background-color: #fff;}

.indexCom{ margin-top: 15px; overflow: hidden;}
.indexCom{ margin-top: 15px; overflow: hidden;}
.order{ margin-top: 15px; overflow: hidden;}
.goodsOrd{ width: 950px; min-height: 740px; background-color: #fff;}

/*-------------------------------------------------------------分割线-------------------------------------------------------------*/

.myRight{ width: 950px;min-height: 580px; padding-bottom: 10px;  background-color: #fff;}
.orderList{overflow: hidden;}
.goodsOrd{ min-height: 740px;}
.goodsOrd .gfNot{ width: 910px; height: 52px;padding: 0 20px; background-color: #fcfcfc; overflow: hidden; font-size: 14px; }
.goodsOrd .gfNot .tit{ line-height: 52px; width: 115px;}
.goodsOrd .gfNot .tit h6{ display: inline-block; margin-left: 5px; font-size: 14px;}
.goodsOrd .gfNot .tit i{ width: 20px; height: 20px; background: url("../images/icoNot.png") no-repeat; display: inline-block; vertical-align: middle;}
.goodsOrd .gfNot ul{ margin-left: 130px;}
.goodsOrd .gfNot li{ height: 52px; line-height: 52px;}
.goodsOrd .gfNot li a{ font-size: 14px;}
.goodsOrd .gfNot li a:hover{ color: #ff6666;}
.goodsOrd .gfNot li p{ float: left; width: 85%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.goodsOrd .gfNot li span{ float: right;}
.ordSer{ width: 290px; height: 40px; margin-left: 20px; margin-top: 20px; }
.ordSer .ser{ width: 100%; height: 40px; border-bottom: 1px solid #e6e6e6; position: relative;}
.ordSer .ser input{ width: 250px; height: 40px; line-height: 40px; padding-right: 40px;background-color: #fff; font-size: 14px; }
.ordSer .ser i{ width: 40px; height: 40px; background: url("../images/icoSer.png") no-repeat; cursor: pointer; position: absolute; right: 0; top: 0;}
.ordCom{ margin-top: 10px; }
.ordTab{ width: 100%; height: 50px; border-bottom: 1px solid #e6e6e6; position: relative;}
.ordTab ol{ height: 50px;}
.ordTab ol li{ float: left; line-height: 48px;border-bottom: 1px solid transparent; margin: 0 20px; position: relative;}
.ordTab ol li:after{ content: ""; width: 1px; height: 14px; background-color: #e6e6e6; position: absolute; right:-20px; top: 20px;}
.ordTab ol li.no:after{ width: 0;}
.ordTab ol li a{ font-size: 16px; display: inline-block;}
.ordTab ol li.cur{ border-color: #ff6666;}
.ordTab ol li.cur a{ color: #ff6666;}
.ordTab ol li span{ color: #ff6666;}
.ordTab .bbtn{ position: absolute; right: 20px; top: 10px;}
.ordTab .bbtn a{ width: 103px; height: 32px; line-height: 32px; text-align: center; font-size: 14px; color: #ff6666; border: 1px solid #ff6666; border-radius: 4px; display: inline-block;}
.ordTab .bbtn a:hover{ background-color: #ff6666; color: #fff;}
.ordIn{ width: 910px; margin: 20px auto 0; border: 1px solid #e5e5e5; border-bottom: none; overflow: hidden;}
.ordIn .inTit{ width: 100%; height: 54px;  line-height: 54px; font-size: 14px; text-align: center;background-color: #fafafa; border-bottom:1px solid #e6e6e6; }
.ordIn .ti0{ float: left;}
.ordIn .ti01{ width: 440px;}
.ordIn .ti02{ width: 130px;}
.ordIn .ti03{ width: 110px;}
.ordIn .ti04{ width: 100px;}
.ordIn .ti05{ width: 130px;}
.ordIn .inList{ overflow: hidden;}
.ordIn .inList li{ height: 139px; border-bottom: 1px solid #e6e6e6; overflow: hidden;}
.ordIn .inList li .ti0{ text-align: center;}
.ordIn .inList li .ti01{ text-align: left;}
.ordIn .inList .ti01 .item{ padding: 20px;}
.ordIn .inList .item{ padding-top: 20px; overflow: hidden;}
.ordIn .inList .tp{ width: 100px; height: 100px; overflow: hidden; float: left;}
.ordIn .inList .txt{ margin-left: 120px;}
.ordIn .inList .txt .tiName{ color: #646464; padding-top: 5px;}
.ordIn .inList .date{ margin-top: 20px; color: #999;}
.ordIn .inList .date p{ line-height: 20px;}
.ordIn .inList .it{ padding-top: 5px;}
.ordIn .inList a.chatLink{ color: #76bdff; margin-bottom: 10px; display: block;}
.ordIn .inList a.chatLink:hover{ text-decoration: underline;}
.ordIn .inList .mm{ color: #ff6666; font-size: 14px;}
.ordIn .inList .st{ color: #76bdff;}
.ordIn .inList .ti05 span{ display: block; margin-bottom: 5px;}
.ordIn .inList .ti05 a{ color: #76bdff; }
.ordIn .inList .ti05 a:hover{ text-decoration: underline;}
.myPop{ width: 100%; height: 100%; background-color: rgba(0,0,0,.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 999; display: none;}
.myPop .in{ width: 560px; height: 470px; background-color: #fff; position: absolute; left: 50%; top: 50%; margin-left: -280px; margin-top: -235px; border-radius: 4px; overflow: hidden;}
.myPop .hd{ height: 45px; line-height: 45px; font-size: 14px; padding: 0 20px; background-color: #f5f5f5; position: relative;}
.myPop .hd .close{ width: 45px; height: 45px; background: url("../../public/images/iClose.png") no-repeat; position: absolute; right: 0; top: 0; cursor: pointer;}
.myPop .cen{ padding: 20px 40px; overflow: hidden;}
.myPop .tp{ width: 100px; height: 100px; border: 1px solid #e6e6e6; border-radius: 2px; overflow: hidden; margin: 0 auto;}
.myPop .tp a{ display: inline-block;}
.myPop .tp img{ width: 100%;}
.myPop .txt{ margin-top: 20px;}
.myPop .txt textarea{ width: 460px; height: 100px; padding: 10px; font-size: 14px; border: 1px solid #e6e6e6; border-radius: 4px;}
.myPop .txt p{ margin-bottom: 10px; font-size: 14px;}
.myPop .txt input{ width: 440px; height: 38px; line-height: 38px; padding: 0 10px; border: 1px solid #e6e6e6; border-radius: 4px; background-color: #fff; overflow: hidden; margin-bottom: 10px;}
.myPop .bbtn{ width: 105px; height: 34px; line-height: 34px; text-align: center; background-color: #ff6666; border-radius: 4px; margin: 0 auto; margin-top: 10px;}
.myPop .bbtn a{ color: #fff; font-size: 16px;  display: block;}
.myPop .remk{ color: #999; font-size: 14px; position: absolute; left: 40px; right: 40px; bottom: 20px;}

/*goodsVerify.html*/
.goodsVerify{ overflow: hidden;}
.myHdTit{ width: 910px; height: 54px; line-height: 54px; border-bottom: 1px solid #e5e5e5; padding: 0 20px;}
.myHdTit h3{ font-size: 16px; color: #666; }
.verFrame{ width: 560px; height: 214px; border: 1px solid #e5e5e5; margin-top: 110px; margin-left: 190px;}
.verFrame .framIn{ width: 480px; margin-left: 40px; margin-top: 40px;}
.verFrame .tit{ font-size: 16px; text-align: center; }
.verFrame .inp{ width: 480px; margin-top: 25px; overflow: hidden;}
.verFrame .inp input{ width: 358px; padding: 0 5px; height: 38px; line-height: 38px;border: 1px solid #e5e5e5;  font-size: 16px; float: left;}
.verFrame .inp .bbtn{ width: 110px; height: 40px; line-height: 40px; background-color: #ff6666; text-align: center; font-size: 16px; color: #fff; cursor: pointer; float: left;}
.verFrame .bot{ margin-top: 25px; overflow: hidden;}
.verFrame .bot p{ color: #999; font-size: 14px;}
.verFrame .bot i{ width: 20px; height: 20px; background: url("../../public/images/icoChe.png") no-repeat; vertical-align: middle; display: inline-block; margin-right:15px;}
.verFrame .bot a{ color: #76bdff; font-size: 14px;}
.verFrame .bot a:hover{ text-decoration: underline;}

/*changPwd.html*/
.inpCom{ margin-top: 80px;margin-left: 270px; }
.inpCom .inp{ width: 370px; height: 40px; margin-bottom: 20px; }
.inpCom .inp span{ height: 40px; line-height: 40px; font-size: 14px; float: left;}
.inpCom .inp .ti{ width:80px; }
.inpCom .inp input{ width: 266px; height: 38px; line-height: 38px; padding: 0 10px; font-size: 14px; border: 1px solid #e6e6e6; float: left; }
.inpCom .bbtn{ width: 144px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #ff6666; border-radius: 4px; margin-left: 150px;}
.inpCom .bbtn a{ font-size: 16px; color: #ff6666; display: block;}
.inpCom .bbtn a:hover{ background-color: #ff6666; color: #fff;}
.inpCom select{ width: 288px; height: 40px; padding: 8px 0; background-color: #fff; border: 1px solid #e6e6e6;}

/*datumSet.html*/
.datumSet .inpCom{ margin-top: 40px;}
.remark{ margin-top: 100px; font-size: 14px; color: #76bdff; text-align: center;}

/*myAppkey.html*/
.myAppkey .appkey{ text-align: center; padding-top: 100px;}
.myAppkey .appkey p{ font-size: 14px; margin-bottom: 15px;}
.myAppkey .appkey .p02{ font-size: 16px; margin-bottom: 20px;}
.myAppkey .appkey .p03{ color: #999;}
.myAppkey .remark{ margin-top: 270px;}

/*dataInterface.html*/
.interface{ width: 890px; margin: 0 auto; overflow: hidden;}
.interface .item{ width: 888px; border: 1px solid #e6e6e6;  margin-top:30px;}
.interface .hd{ width:868px;  padding-left: 20px; height: 48px; line-height: 48px; background-color: #fafafa; border-bottom: 1px solid #fafafa; font-size: 14px;}
.interface ul{ overflow: hidden; background-color: #fff; padding: 20px;}
.interface li{ font-size: 14px; margin-bottom:10px;}
.interface li .ti{ width: 140px; display: inline-block;}
.interface li a{ font-size: 14px; color: #76bdff; display: inline-block;}
.interface li a:hover{ text-decoration: underline;}

/*pidManage.html*/
.manage{ width: 910px; margin: 0 auto;}
.manage .manHd{ height: 36px; margin-top: 30px; overflow: hidden;}
.manage .manHd .inp{ height: 36px; margin-right: 60px;}
.manage .manHd .inp2{ margin-right: 20px;}
.manage .manHd .inp .ti{ width: 88px; height: 36px; line-height: 36px; display: inline-block; font-size: 14px;}
.manage .manHd .inp input{ width:180px; padding: 0 5px; height: 34px; line-height: 34px; border: 1px solid #e0e0e0;}
.manage .manHd .inp2 input{ width: 305px;}
.manage .manHd .bbtn{ width: 84px; height: 36px; line-height: 36px; background-color: #ff6666; text-align: center;border-radius: 4px;}
.manage .manHd .bbtn a{ display: block; color: #fff; font-size: 14px; }
.manage .remark{ margin-top: 20px; text-align: left;}
.manForm{ border: 1px solid #e6e6e6; border-bottom: none; margin-top: 25px; overflow: hidden; }
.manForm .formTab{ border-bottom: 1px solid #e6e6e6; height: 54px;}
.manForm .ti0{ float: left; height: 54px; line-height: 54px; font-size: 14px; text-align: center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; position: relative;}
.manForm .ti01{ width: 170px;}
.manForm .ti02{ width: 330px;}
.manForm .ti03{ width: 255px;}
.manForm .ti04{ width: 150px;}
.manForm ul{ overflow: hidden;}
.manForm li{ height: 54px; line-height: 54px; border-bottom: 1px solid #e6e6e6;}
.manForm .list .ti03{ color: #76bdff;}
.manForm .list .ti03 span{ cursor: pointer; margin: 0 10px;  display: inline-block;}
.manForm .list .ti03 span:hover{ text-decoration: underline;}
.manForm .list .ti03 .sp3{ margin-right: 0; display: none; }
.manForm .list .ti03.chg span{ color: #ff6666;}
.manForm .list .ti03.chg .sp3{ display: inline-block; color: #76bdff;}
.manForm .list .ti03.chg i{ display: none;}
.manForm .list i{ width: 1px; height: 18px; background-color: #e6e6e6; position: absolute; left: 50%; top: 20px;}
.manForm .list .ti04 a{ font-size: 14px; color: #76bdff;margin: 0 10px;  display: inline-block; }
.manForm .list .ti04 a:hover{ text-decoration: underline;}


/*-------------------------------------------------------------分割线-------------------------------------------------------------*/













