<!-- 头部 -->
<include file="Public:content-header" />
<div class="wrapper">
	<!-- 内容标题开始 -->
	<div id="breadcrumbs" class="breadcrumbs">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i> 后台首页</a></li>
            <li><a href="#">财务管理</a></li>
            <li class="active">邀请佣金</li>
		</ol>

	</div>
	<!-- 内容标题结束 -->

	<!-- 主要内容开始 -->
	<section class="content">
		<div class="row">

			<div class="col-xs-12">
				<div class="box box-info"> <!-- box-info天空蓝、 box-primary蓝色、  box-success绿色-->
					<div class="box-header nav-tabs">
						<h4 class="box-title"><i class="fa fa-plus"></i> 审核管理</h4>
						<!-- 返回上一页 -->
						<include file="Public:content-back" />
					</div>
					<!-- 表格开始 -->
					<div class="box-body">
						<form action="" method="post">
							<table id="example" class="table table-bordered">
								<tbody>
									<tr>
										<td class="table-td-right"> {:ACTION_NAME=='tixianShenheTg'?'通过理由':'拒绝理由'}：</td>
										<td>
											<textarea name="ratify_remark" style="width: 266px;min-height: 100px;">{$info.ratify_remark|htmlspecialchars_decode}</textarea>
										</td>
									</tr>
										<input type="hidden" name="id" value="{$info['id']}">
										<input type="hidden" name="page" value="{$page}">
									<tr height="60">
										<td colspan="2" align="center">
											<button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 提交</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<!-- 表格结束 -->

				</div>
			</div>

		</div>
	</section>
	<!-- 主要内容结束 -->
</div>
<!-- ./wrapper结束 -->

<!-- 底部 -->
<include file="Public:content-footer" />

<script>
	//日期插件
	$('.date-time').datepicker({
		weekStart: 1,
		autoclose: true
	});
</script>