<include file="Public:content-header" />

<div class="wrapper" style="font-family: '微软雅黑';">

    <!-- 内容标题开始 -->

    <div id="breadcrumbs" class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> 后台首页</a></li>
            <li><a href="#">用户管理</a></li>
            <li class="active">会员分组</li>
        </ol>
    </div>
    <!-- 内容标题结束 -->

    <!-- 主要内容开始 -->
    <div class="col-md-12">

        <!-- 自定义标签开始 -->
        <div class="nav-tabs-custom">

            <!-- 标签内容开始 -->
            <div class="tab-content">
                <div id="tab_{$gid}" class="tab-pane active">

                    <div class="pull-right" style="display:block;">
                        <a  style="display:block;" class="btn btn-info" href="{:U(MODULE_NAME.'/User/userGroupAdd')}" >
                            <i class="fa fa-plus"></i> 添加用户分组
                        </a>
                    </div>
                    <h4 align="center"><i class="fa fa-list-ul"></i> 用户分组管理</h4>

                    <form action="" method='post'>
                        <!-- 表格开始 -->
                        <table id="example" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分组名称</th>
                                    <th>会员总数</th>
                                    <th>购买价格</th>
                                    <th>返点比例</th>
                                    <th>返点佣金(元)</th>
                                    <th>有效期(天)</th>
                                    <th>是否允许购买</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <php>
                                    $curr_page = I('get.p',1,'intval');
                                </php>
                                <volist name="user_group" id="v" key="k" >
                                    <tr>
                                        <td>{$v.id}</td>
                                        <td><img style="display: inline-block;border-radius: 3px;margin: 0;" src="__MEMBER__/images/user_group/{$v.id}.png" alt="会员组">&nbsp;<b>{$v.name}</b></td>
                                        <td>
                                            <php>$user_count = M('user_group_ext')->where(array('group_id'=>$v['id']))->count();</php>
                                            {$user_count}
                                        </td>
                                        <td><b style="color: #f8352e">{$v['buy_money']}</b></td>
                                        <td><b style="color: #f8352e">{$v.percent}%</b></td>
                                        <td><b style="color: #f8352e">{$v['buy_money']*$v['percent']/100}</b></td>
                                        <td>{$v.gqtime}</td>
                                        <td>{$v['allow_buy']==1?'允许':'禁止'}</td>
                                        <td>
                                            <a href="{:U(MODULE_NAME.'/User/userGroupEdit', array('group_id'=>$v['id'],'page'=>$curr_page))}" class="btn btn-primary btn-xs">
                                                <!--<i class="fa fa-pencil"></i>-->
                                                编辑
                                            </a>
                                            <if condition="$user_count EQ 0">
                                                <a href="javascript:;" onclick="deleteOne(this,{$v['id']},'{:U(MODULE_NAME.\'/User/userGroupDelete\')}',{$curr_page},'确定要删除该会员组吗？不可恢复！');" class="btn btn-danger btn-xs">
                                                    <!--<i class="fa fa-pencil"></i>-->
                                                    删除
                                                </a>
                                            </if>
                                        </td>
                                    </tr>
                                </volist>
                                <if condition="!$user_group">
                                    <tr>
                                        <td colspan="10" align="center"> <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 18px;color: red;">  暂无数据!</i></td>
                                    </tr>
                                </if>
                            </tbody>
                        </table>
                        <if condition="$totalPages GT 1">
                            <div class="pages">{$page}</div>
                        </if>

                        <!-- 表格结束 -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- 标签内容结束 -->
        </div>
        <!-- 自定义标签结束 -->
    </div>
    <!-- 主要内容结束 -->
</div>
<!-- ./wrapper结束 -->

<!-- 底部 -->
<include file="Public:content-footer" />

<script>
    //删除功能
    function videoGroupDelete(obj,vgid,pid,page){
        var url = "{:U(MODULE_NAME.'/Video/videoGroupDelete','',true,true)}"+'?vgid='+vgid+'&p='+page+'&pid='+pid;
        //console.log(url);return;
        //询问框
        var index = layer.confirm('确定要删除吗？该组下的视频也会被删除。不可恢复！', {
            shade:0.6,
            skin: 'layui-layer-molv', //样式类名
            btn: ['确定','取消'] //按钮
        }, function(){
            layer.close(index);
            location.href = url;
        }, function(){
            layer.close(index);
        });
    }

</script>

<script>
    //删除功能
    function videoGroupDelete(obj,vgid,pid,page){

        var url = "{:U(MODULE_NAME.'/Video/videoGroupDelete','',true,true)}"+'?vgid='+vgid+'&p='+page+'&pid='+pid;
        //console.log(url);return;
        //询问框
        var index = layer.confirm('确定要删除吗？该组下的视频也会被删除。不可恢复！', {
            shade:0.6,
            skin: 'layui-layer-molv', //样式类名
            btn: ['确定','取消'] //按钮
        }, function(){
            layer.close(index);
            location.href = url;
        }, function(){
            layer.close(index);
        });
    }

</script>
